<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" >AriveGuru</a>
     <div class="navbar-menu">
      <div class="menu-group-1">

        <div class="dropdown">
          <select name="" id="">
            <option value="team">Quinnox's team</option>
          </select>
        </div>
        <i class="fa-solid fa-people-group"></i>
      </div>
      <hr>
      <div class="menu-group-2">
       <ul>
        <li><button class="addbutton">+</button></li>
        <li><i class="fa-solid fa-magnifying-glass"></i></li>
        <li><i class="fa-solid fa-bell"></i></li>
        <li><i class="fa-solid fa-bolt"></i></li>
       </ul>
      </div>
      <div class="menu-profile">
        <div class="profile-menu">
          <div class="avatar-container">
            <img src="" alt="" class="avatar">
          </div>
          <div class="user-info">
            <h3></h3>
            
          </div>
        </div>
      </div>
     </div>
    </div>
  </nav>
