<div class="sidebar">
  <div class="sidebar-menu">
    <ul>
      <li [class.active]="activeLinkIndex === 0" (click)="sidelink(0)"><a><i class="fa-solid fa-bars"></i></a></li>
      <li [class.active]="activeLinkIndex === 1" (click)="sidelink(1)"><a><i class="fa-solid fa-chart-column"></i></a></li>
      <li [class.active]="activeLinkIndex === 2" (click)="sidelink(2)"><a><i class="fa-solid fa-plug"></i></a></li>
      <li [class.active]="activeLinkIndex === 3" (click)="sidelink(3)"><a><i class="fa-regular fa-clock"></i></a></li>
      <li [class.active]="activeLinkIndex === 4" (click)="sidelink(4)"><a><i class="fa-solid fa-boxes-stacked"></i></a></li>
      <li [class.active]="activeLinkIndex === 5" (click)="sidelink(5)"><a><i class="fa-solid fa-gift"></i></a></li>
    </ul>
  </div>
  <div class="sidebar-footer">
    <ul>
      <li [class.active]="activeLinkIndex === 0" (click)="sidelink(0)"><a><i class="fa-solid fa-bars"></i></a></li>
      <li [class.active]="activeLinkIndex === 1" (click)="sidelink(1)"><a><i class="fa-solid fa-chart-column"></i></a></li>
      <li [class.active]="activeLinkIndex === 2" (click)="sidelink(2)"><a><i class="fa-solid fa-plug"></i></a></li>
      <li [class.active]="activeLinkIndex === 3" (click)="sidelink(3)"><a><i class="fa-regular fa-clock"></i></a></li>
    </ul>
  </div>
</div>
